body{
    display: grid;
    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
    grid-template-columns: 1fr 3fr;
    gap: 5px;
    background-image: url(img/background.jpg);
    background-color: #000;
    color: #fff
}

header{
    grid-area: header;
    text-align: center;
    background-color: #0066ff;
}

nav{
    grid-area: nav;
    border-right: 1px solid #fff;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;    
}

nav > ul{
    list-style: none;
}

nav > ul > li{
    padding: 7px;
    margin-bottom: 10px;
    background-color: aliceblue;
    opacity: 0.8;
}

#profile{
    width: 20%;
    height: 20%;
    min-width: 10%;
    min-height: 10%;
    border: 1px solid #000;
}

#list-icon{
    width: 5%;
    height: 5%;
    border: 1px solid #000;
}

main{
    grid-area: main;
    background-color: aliceblue;
    opacity: 0.8;
    color: #000;
    padding: 10px;
}

main > article > h2{
    border-bottom: 2px solid #000;
    text-align: center;
}

#education-content > table{
    width: 100%;
    text-align: center;
}

#work > article{
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 5px;
    text-align: center;
}

#work > article > div{
    padding: 10px;
}

footer{
    grid-area: footer;
    text-align: center;
    background-color: #0099ff;
}

a{
    text-decoration: none;
    color: #003cff;
}

a:hover{
    color: #000292;
}
